.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index:2;
    font-family:'Poppins', sans-serif; 
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    margin: auto;
    position: relative;
}

.auth-form{
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
}

.auth-form__container{
    padding: 40px;
}

.auth-form__header{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 25px;
    font-family:'Poppins', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 3px;
}

.auth-form__group{
    margin-top: 30px;
    position: relative;
}

.auth-form__input{
    padding-left: 8px;
    width: 400px;
    height: 40px;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-form__input::placeholder{
    color: #fff;
}

.auth-form__input:focus::placeholder{
    color: transparent;
}

.auth-form__input:focus{
    caret-color: #fff;
}

.auth-form-icon{
    position: absolute;
    right: 30px; /* Điều chỉnh khoảng cách từ lề phải */
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.6rem;
}

.auth-form__transfer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.auth-form__transfer-dk{
    display: flex;
    flex-direction: row;
}

.auth-form-dk-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.auth-form-dk-link:hover{
    text-shadow: 2px 2px 2px #fff;
    font-weight: 700;
}

.icon-link-return{
    font-size: 1.4rem;
    padding-right: 3px;
}

.auth-form__transfer-text{
    color: #fff;
    font-size: 1.2rem;
}

.auth-form__transfer-link{
    padding: 0;
    font-size: 1.2rem;
    text-decoration: none;
    color:#fff;
}

.auth-form__transfer-link:hover{
    text-shadow: 2px 2px 2px #fff;
    font-weight: 700;
}

/* .auth-form__btn{
    color: #000000;
    font-size: 1.8rem;
    padding: 10px;
    background-color: #fff;
} */

.auth-form-btn-login{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.auth_form-btn_lg{
    padding: 10px 40px;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 2px;
}

.auth_form-btn_lg:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}